<div class="card">
  <div class="card-header">Book details</div>
  <div class="card-body">
    <form (submit)="updateBook($event)" [formGroup]="bookFormGroup">
      <div class="row" formGroupName="author">
        {{ bookFormGroup.get("author")!.errors | json }}
        <div class="col">
          <label class="form-label" for="firstName">First name:</label>
          <input
            class="form-control"
            id="firstName"
            formControlName="firstName"
          />
          {{ bookFormGroup.get("author.firstName")!.errors | json }}
          <div class="invalid-feedback">
            <span
              *ngIf="
                bookFormGroup.get('author.firstName')!.hasError('maxlength')
              "
            >
              Query too long. Max
              {{
                bookFormGroup.get("author.firstName")!.getError("maxlength")
                  .requiredLength
              }}
            </span>
          </div>
        </div>
        <div class="col">
          <label class="form-label" for="lastName">Last name:</label>
          <input
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
          <div class="invalid-feedback">Query too long.</div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <label class="form-label" for="title">Title:</label>
          <input class="form-control" id="title" formControlName="title" />
          <div class="invalid-feedback">Query too long.</div>
        </div>
      </div>
      <div class="row" formGroupName="details">
        <div class="mb-3">
          <label class="form-label" for="pages">Pages:</label>
          <input class="form-control" id="pages" formControlName="pages" />

          {{ bookFormGroup.get("details.pages")!.errors | json }}
          <div class="invalid-feedback">
            <span
              *ngIf="bookFormGroup.get('details.pages')!.hasError('maxlength')"
            >
              Query too long. Max
              {{
                bookFormGroup.get("details.pages")!.getError("maxlength")
                  .requiredLength
              }}
            </span>
            <span
              *ngIf="
                bookFormGroup.get('details.pages')!.hasError('isCorrectPage')
              "
            >
              Cannot be parsed
            </span>
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="bookFormGroup.pristine || bookFormGroup.invalid"
      >
        Save
      </button>
    </form>
  </div>
</div>
